body {
    background-image: url(bg.png);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.circle {
    margin-top: -100px;
    margin-bottom: 80px;
    width: 1000px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 600px 600px 0px 0px;
    background-color: rgb(248, 192, 9);
    transform-origin: center;
    transform: rotate(180deg);
    position: relative;
    z-index: 0;
}

#kopf {
    text-align: center;
    margin-top: -450px;
    font-size: 90pt;
    color: white;
    text-shadow: 8px -10px rgb(252, 164, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    position: relative;
    z-index: 10;
    }
#kopf2 {
        margin: 10px 10px 10px 300px;
        margin-top: -80px;
        font-size: 40pt;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        text-shadow:8px -10px rgb(252, 164, 1);
        position: relative;
        z-index: 10;
    }

nav {
    position: fixed;
    top: 0;
    right: 1;
    margin-left: 40px;
    text-align: center;
     }

.boxen {
     text-align: left;
    margin-left: 100px;
    }

#current {
    color: #e6ac0d;
    text-decoration: none;
    }     

.navlinks {
    text-decoration: none;
    color: #5c3c02;
    border-left:2px solid rgb(255, 255, 255);
    border-right:2px solid rgb(255, 255, 255);
    }

.extralink {
    text-decoration: none;
    color: #5c3c02;
    }

.nav {
     width: 250px;
    height: 25px;
    background-color: rgba(177, 136, 2, 0.664);
    border-radius: 7px;
    padding-top: 4px;    
}

.fotos {
    margin-top: 170px;
}

.logos {
    position: relative;
    z-index: 10;
    margin-top: 70px;
}

.logo1:hover {
   transform: scale(1.2);
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #e6ac0d;
    }

h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color: rgb(252, 164, 1);
}

h4{
    text-align: left;
    margin-left: 50px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 50px 50px 50px 50px;

}

#weitereüberschrift{
    text-align: left;
}

hr {
    color: #e6ac0d;
    border-bottom: 10px solid;
}

#kontakt {
    margin-top: 50px;
    text-align: left;
    color: rgba(95, 92, 92, 0.527);
}

.feld {
    background-color: rgba(253, 155, 8, 0.452);
}

::placeholder {
    color: rgb(0, 0, 0);
}

#foot {
    font-size: 20px;
    background-color: rgb(250, 216, 194);
    color: rgb(189, 189, 189);
    padding-bottom: 2px;
    padding-top: 2px;
    border-width: 10;
    border-color: rgb(255, 207, 119);
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
}